In [1]:
# 10-2 프로젝트 1
numbers = '010-12345-23456'

def change_num(nums):
    return answer

In [2]:
type(numbers)

str

In [3]:
numbers[-5:]

'23456'

In [4]:
numbers[-11:-6]

'12345'

In [5]:
numbers.replace(numbers[-5:], '#####')

'010-12345-#####'

In [9]:
numbers.replace(numbers[-5:], '#####')

'010-12345-#####'

In [10]:
def change_num(nums):
    answer = nums.replace(nums[-5:], '#####')
    return answer

In [12]:
change_num('010-98765-12345')

'010-98765-#####'

In [11]:
change_num(numbers)

'010-12345-#####'

In [13]:
# 10-3 프로젝트 2
overlap = [[1,2], 3, [[4, 5, 6], 7], 8, 9]

In [14]:
overlap = [[1,2], 3, [[4, 5, 6], 7], 8, 9]

for element in overlap:
    print(element)

[1, 2]
3
[[4, 5, 6], 7]
8
9

In [15]:
a = [[1,2], 3, [[4, 5, 6], 7], 8, 9]
def flatten(data):
    return output

In [16]:
type(a[0])

list

In [22]:
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output

In [23]:
a = [[1,2], 3, [[4, 5, 6], 7], 8, 9]
flatten(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# 10-4 프로젝트 3
x = 10

if type(x) == int:
    print('정수입니다.')

정수입니다.

In [25]:
x = 10.0

if type(x) == int:
    print('정수입니다.')

In [26]:
x = 1 
if x % 1 == 0:
    print('정수입니다.')

정수입니다.

In [27]:
x = 10.0

if x % 1 == 0:
    print('정수입니다.')

정수입니다.

In [28]:
def int_divider(x, y):
    if x % 1 == 0 and y % 1 == 0:
        answer = x / y
    else:
        print('정수만 계산 가능합니다.')
        answer = None
    return answer

In [29]:
int_divider(10,3)

3.3333333333333335

In [30]:
int_divider(-1, 0.9)

정수만 계산 가능합니다.

In [31]:
int_divider(6.0, 2)

3.0

In [32]:
def mul(*values):
    return output

In [33]:
def mul(*values):
    output = 1
    for num in values:
        output *= num

In [34]:
def mul(*values):
    output = 1
    for num in values:
        if num <= 10:
            output *= num

In [35]:
def mul(*values):
    output = 1
    for num in values:
        if num <=10:
            output *= num
        else:
            pass
    return output

In [36]:
mul(2, 3, 4, 5)

120

In [37]:
mul(3, 12, 10)

30